<div id=stockIn>
<center style="padding-top:2%">
<div id="login">
<h2>ADD STOCK</h2>
<center style="background-color: rgba(119, 119, 119, 0.7); height: 121px; padding-top: 17px; border-radius: 0px 0px 20px 20px;    height: 382px;">
<br> 
<table>
<tr><td><font color="white">ITEM CODE</font></td>&nbsp;<td><input type="text" style="border: 1px solid #777" ng-model="itemCode"></td></tr>
<tr><td><font color="white">ITEM TYPE</font></td>&nbsp;<td><input type="text" style="border: 1px solid #777" ng-model="type"></td></tr>
<tr><td><font color="white">BRAND</font></td><td><input type="text" style="border: 1px solid #777" ng-model="brand"></td></tr><br>
<tr><td></td><td></td></tr>
<tr><td><font color="white">QUANTITY</font></td>&nbsp;<td><input type="number" style="border: 1px solid #777" ng-model="quantity"></td></tr>
<tr></tr>
<tr><td><font color="white">SIZE</font></td>&nbsp;<td><input type="text" style="border: 1px solid #777" ng-model="size"></td></tr>
<tr></tr>
<tr><td><font color="white">DATE</font></td>&nbsp;<td><input type="date" style="border: 1px solid #777" ng-model="date" min="2000-01-02"></td></tr>
</table>
<center><button " value="submit" class="btn btn-default "ng-click="login()" style="background-color: #777">ADD</button></center>
</center>
</div>
</center>
</div>