	<div id="insertItem">
		Item Code: &nbsp;<input type="text" ng-model="ITEM_CODE" placeholder="Item Code"/><br>
		Category: &nbsp;<input type="text" ng-model="ITEM_CATEGORY" placeholder="Category"/><br>
		Size: &nbsp;<input type="text" ng-model="ITEM_SIZE" placeholder="Size"/><br>
		Brand: &nbsp;<input type="text" ng-model="ITEM_BRAND" placeholder="Brand"/><br>
		Price: &nbsp;<input type="number" ng-model="ITEM_PRICE" placeholder="Price"/><br>
		Date: &nbsp;<input type="date" ng-model="DATE_IN" placeholder="Date"/><br>
		
		<button ng-click="StockIn()">Add Item</button><br>
	</div>