#view{
background-image: url('/images/h3.PNG');
background-size: 100% 100%;
background-repeat: no-repeat;
  min-height:570px;
  min-width:1024px;
 }
 .footer 
{
height:22px;
clear:both;
color:white;
} 